/* --- Talleres --- */

.taller h3 {
  font-size: 1.5rem;
  margin: 15px 0;
}

.taller p {
  font-size: 1rem;
  color: #666;
}

.talleres-info {
  padding: 20px;
}

.email-form {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.email-form input {
  padding: 10px;
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* --- Precios --- */

.pricing {
  text-align: center;
  padding: 50px 20px;
  background-color: #f9f9f9;
}

.pricing h2 {
  font-size: 2rem;
  padding-bottom: 40px;
}

.pricing-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.price-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 250px;
  transition: transform 0.3s ease-in-out;
}

.price-card:hover {
  transform: scale(1.05);
}

.price-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #1f3b60;
  margin-bottom: 10px;
}

.price {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}

.features {
  list-style: none;
  padding: 0;
  margin-bottom: 15px;
}

.features li {
  font-size: 1rem;
  padding: 5px 0;
  color: #666;
}
/* Limita el ancho del formulario */
.container {
  max-width: 600px; 
  width: 100%;
}
